* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #272727;
}

a {
  font-family: 'MA-Regular', serif;
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: 'MA-Regular';
  src: url('./../font/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MA-Bold';
  src: url('./../font/Montserrat_Alternates/MontserratAlternates-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('./../font/Roboto/Roboto-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('./../font/Roboto/Roboto-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  border: none;
  caret-color: #fff;
  color: #fff;
  background: transparent;
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: text;
}

.Crop-Controls {
  margin-bottom: 10px;
}
.Crop-Controls > * {
  margin-bottom: 3px;
}

img {
  max-width: 100%;
}

