@keyframes pendulum {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }
    80% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.metronome-stick {
    position: absolute;
    width: 50px;
    top: 60px;
    left: 225px;
    z-index: 2;
    animation: pendulum 5s infinite;
    transform-origin: 50% 100%;
}
.stick {
    width: 20px;
    height: 365px;
    background-color: rgb(60,36,21);
    margin: 0 auto;
}